:root {
    --green:#e1e55a;
    --pink: #f2b3bb;
    --oldpink:#e5b8bd;
    --darkpink:#e48e99;
    --purple: #b7b4e9;
    --blue: #7bccb9;
    --orange: #dd8219;
    --yellow: #f1d64b;
    --mblack: #262626;
    --darkgray: #5d5d5d;
    --lightblack: #404040;
    --gray: #929292;
    --lightgray: #b5b5b5;
    --mwhite: #f6f6f6;
    --darkwhite: #d0d0d0;
    --lightblue:#d9e8ef;

}
