:root {
    --green:#e1e55a;
    --pink: #f2b3bb;
    --darkpink:#e48e99;
    --purple: #b7b4e9;
    --blue: #7bccb9;
    --orange: #e9635a;
    --yellow: #f1d64b;
    --darkgray: #6b6b6b;
    --gray: #929292;
    --lightgray: #b5b5b5;

}
