:root {
    --green:#e1e55a;
    --pink: #f2b3bb;
    --darkpink:#e48e99;
    --purple: #a7adee;
    --blue: #7bccb9;
    --orange: #e9635a;
    --yellow: #f1d64b;
    --darkgray: #5d5d5d;
    --lightblack: #404040;
    --gray: #929292;
    --lightgray: #b5b5b5;

}
