.navbar {
    top: 0px!important;
    position: absolute;
    width: 100%;
    margin-bottom: 0px!important;
    background-color: transparent;
    z-index: 9999;

}

#navbar2 {
    position: relative !important;
    padding: 2em;
    background-color: #ffffff;

}


#navbar1 img {
    width: 320px;
    height: auto;
    padding: 20px;
}

.bg-transparent {
    border-bottom: 2px solid white;
}



#navbar2 img {
    width: 350px;
    height: auto;

}

#navbar3 img {
    width: 250px;
    height: auto;

}


#promo {
    background-color: black;
    color: white;
    font-family: "Trebuchet MS";
    font-size: 12px;
}


.navbar li a,
.navbar .navbar-brand {
    color: black !important;
    font-size: 15px !important;
    font-weight: bold;


}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #2b2b2b!important;
}


@media only screen and (max-width: 992px) {

#navbar1{
    background-color: var(--mwhite);

}

    .navbar-nav li a:hover,
    .navbar-nav li.active a {
        color: var(--mblack) !important;
        background-color: #efefef;
    }

}


li{
    margin-right: 15px;

}
