.navbar{
    position: absolute;
    background-color: transparent;
}

.nav-link{
    font-family: "Trebuchet MS";
    font-size:14px;
    font-weight: bold;
    color: var(--lightblack) !important;
}

nav a:hover{
    color: var(--darkgray)!important;
}

#navbar1 img{
    width: 250px;
    height: auto;
}


#navbar2 img{
    width: 350px;
    height: auto;
}

.navbar li{
    padding-left: .5em;

    padding-right: .5em;
}

.menu{
    border-bottom: 1px solid black;
}

#promo{
    background-color: black;
    color: white;
    font-family: "Trebuchet MS";
    font-size: 12px;
}
