
body{
overflow-x: hidden;
}


.btn-yellow{
    background-color: var(--yellow);
    width: 200px;
    font-family: "Trebuchet MS";
    font-weight: bold;
}


.btn-yellow:hover{
    background-color: #f6de63;
}

