body{
    overflow-x: hidden;
}


.btn-yellow{
    background-color: var(--yellow);
    width: 200px;
    font-family: "Trebuchet MS";
    font-weight: bold;
}


.btn-yellow:hover{
    background-color: #f6de63;
}



.btn-join{
    background-color: var(--blue);
    width: 300px;
    font-family: "Trebuchet MS";
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.btn-join:hover{
    background-color: #99e5d3;
}



.btn-blue{
    background-color: var(--blue);
    width: 200px;
    font-family: "Trebuchet MS";
    font-weight: bold;
}



.btn-blue:hover{
    background-color: #7bccb9;
}


.btn-pink{
    background-color: var(--pink);
    width: 200px;
    font-family: "Trebuchet MS";
    font-weight: bold;
}



.btn-pink:hover{
    background-color: #fcbfc7;
}

.bg-yellow{
    background-color: var(--yellow);
}

.bg-green{
    background-color: var(--green);
}


.georgia{
    font-family: Georgia;
    font-weight: normal;
}


.separator h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--lightgray);
    line-height: 0.1em;
    margin: 5em 0 3em;
}

.separator h2 span {
    background:#fff;
    padding: 20px 50px 20px 50px;
    border: 1px solid var(--lightgray);

}
