
body{
    overflow-x: hidden;
}

.btn-yellow{
    background-color: var(--yellow);
    width: 200px;
    font-family: "Trebuchet MS";
    font-weight: bold;
}


.btn-yellow:hover{
    background-color: #f6de63;
}

.btn-join{
    background-color: var(--blue);
    width: 300px;
    font-family: "Trebuchet MS";
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.btn-join:hover{
    background-color: #99e5d3;
}



.btn-blue{
    background-color: var(--blue);
    width: 200px;
    font-family: "Trebuchet MS";
    font-weight: bold;
}

.btn-blue:hover{
    background-color: #7bccb9;
}


.btn-pink{
    background-color: var(--pink);
    width: 200px;
    font-family: "Trebuchet MS";
    font-weight: bold;
}



.btn-pink:hover{
    background-color: #fcbfc7;
}


.btn-green{
    background-color: var(--green);
    width: 200px;
    font-family: "Trebuchet MS";
    font-weight: bold;
}



.btn-green:hover{
    background-color: #f2f675;
}


.btn-orange{
    background-color: var(--orange);
    width: 200px;
    font-family: "Trebuchet MS";
    font-weight: bold;
}



.btn-orange:hover{
    background-color: #f8756c;
}


.bg-yellow{
    background-color: var(--yellow);
}

.bg-green{
    background-color: var(--green);
}

.bg-pink{
    background-color: var(--pink);
}

.bg-purple{
    background-color: var(--purple);
}

.bg-orange{
    background-color: var(--orange);
}

.bg-blue{
    background-color: var(--blue);
}
.bg-gray{
    background-color: var(--darkwhite);
}
.bg-lightgray{
    background-color: #f8f8f8;
}
.bg-lightblue{
    background-color: var(--lightblue);
}


.georgia{
    font-family: Georgia;
    font-weight: normal;
}


.separator h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--lightgray);
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.separator h2 span {
    background:#fff;
    padding: 20px 50px 20px 50px;
    border: 1px solid var(--lightgray);

}


.center{
    align-items: center;
}



.texture-tablecloth{
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 50%, transparent 50%),
    linear-gradient(rgba(255, 255, 255, 0.5) 50%, transparent 50%);
    background-size:50px 50px;
}

.texture-dots{
    background-image: radial-gradient(white 15%, transparent 16%),
    radial-gradient(white 15%, transparent 16%);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.texture-xlines{
    background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);
    background-size: 50px 50px;
}

.texture-45lines{
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

.texture-ylines{
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
    background-size: 50px 50px;
}
