
#intro {
    width: auto;
    height: 700px;
    background-image: url("/images/pictures/header3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--oldpink);

}

h1 {
    color: white;
    font-weight: bold;
    font-family: "Trebuchet MS";
    font-size: 2.5em;
    line-height: .5em;

}

h3 {
    color: var(--lightblack);
    font-family: Georgia;
    font-size: 2.5em;
}

h4 {
    color: var(--gray);
    font-weight: bold;
    font-family: "Trebuchet MS";
    font-size: 1.25em;
}


h5 {
    color: var(--darkwhite);
    font-weight: bold;
    font-family: "Trebuchet MS";
    font-size: 5em;
}

h6 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    font-family: "Trebuchet MS";


}

h7 {
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Trebuchet MS";

    font-weight: bold;
}




.package {
    position: relative;
    width: 95%;
    border-style: solid;
    border-width: 1px;
    border-color: var(--darkwhite);
    background-color: white;
    padding: 2rem 0 2rem 0;
    height: 100%;
}

#packages p{
    font-size: 13px;

}

#wrapper .text {
    background: rgba(236, 236, 236, 0.85);
    height: 100%;
    position:absolute;
    top:0rem;
    padding: 2rem 2rem 2rem 2rem;

    visibility:hidden;
    text-align: justify;
    color: black;

    font-size: 1.5vmin;

}

#wrapper:hover .text {
    visibility:visible;


}





























