#intro{
    width: auto;
    background-image: url("/images/pictures/header2.png") ;
    background-position:50% 50%;  /* Sets reference point to scale from */
    background-size:cover;
    height: 850px;
    background-repeat:no-repeat;
    background-position: top ;

}

#info .row{
    padding-top: 6em;
}


#join{
    height: 10em;
}


#brands{
    padding-bottom: 5em;
}

.btn-join{
    width: 300px!important;
    font-size: 25px!important;
}
