

#user-info{
    padding: 3em 0 10em;
    background-color: white;
}

#account .nav-link{
    color: var(--darkgray);
    font-family:"Trebuchet MS";
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

#account .nav-link:hover{
    color: var(--gray);
}




.form-group .row{
    padding-top: .5em;
}

