#cart{
    background-color: white;

}

#summary, #checkout{
    padding: 5em 0 5em;
}

#summary{
    background-color: rgba(246,246,246,.5);
}


h3{
    color: var(--darkwhite);
    font-weight: bold;
    font-family:"Trebuchet MS";
    font-size: 5em;
}

h4{
    color: var(--darkgray);
    font-weight: bold;
    font-family:"Trebuchet MS";
    font-size: 1.5em;
    text-transform: uppercase;
}


.form-group .row{
    padding-top: .5em;
}



#cart p{
    font-family: Arial;
    font-size: 15px;
    color: var(--lightblack);

}


