#cart{
    background-color: white;
    padding: 5em 0 5em;

}



h2 {
    color: var(--darkgray);
    font-weight: bold;
    font-family: "Microsoft JhengHei";
    font-size: 18px;
    line-height: 1.5em;

}


h3 {
    color: var(--darkgray);
    font-weight: bold;
    font-family: "Trebuchet MS";
    font-size: 16px;
    line-height: 1.5em;

}

h4 {
    color: var(--darkgray);
    font-family: "Trebuchet MS";
    font-size: 14px;
    line-height: 1.5em;

}

p, input, .form-check  {
    font-family: Arial!important;
    font-size: 12px!important;
    color: var(--lightblack);

}

hr.sep1{
    border-top: 5px solid #f1f1f1;

}




























