
#intro {
    width: auto;
    height: auto;
    background-image: url("/images/pictures/header3.jpg");
    height: 700px;
    background-size:750px auto;
    background-repeat: no-repeat;
    background-position:  center center;
    background-color: var(--green);

}



.package {
    position: relative;
    width: 95%;
    border: solid 2px #f8f8f8;
    background-color: white;
    padding: 2rem 0 2rem 0;
    height: 100%;
}


.wrapper {
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff;
}

.overlay:hover {
    opacity: .9;
}

.text {
    color: black;
    font-size: 1.25vh;
    position: absolute;
    margin: 35px;
}
@media (max-width: 767px) {

    .wrapper .description {
        display: none;
    }

}



























