
#intro{

    padding: 7em 0 7em;
}

#join,#skincare article{
    padding-top: 6em;
}



#intro img,  .products img{
    text-align: center;
    height: 125px;
    width: auto;
}


#intro label,  .products label{
    text-align: center;
    padding: 1em 0 1em 0;
    color: var(--darkgray);
    font-weight: bold;
    font-family: "Trebuchet MS";
    text-transform: uppercase;
    font-size: 10px;

}

#skincare{
    font-family: Arial;
    font-size: 15px;
    color: var(--lightblack);
    text-align: justify;
}



.wiki-link img:hover,.wiki-link:hover {
    opacity: 50%;
}


.btn-join{
    width: 300px!important;
    font-size: 25px!important;
}


a:hover{
    text-decoration: none;
}

#intro .separator h4 {
    border-bottom: 1.5px solid var(--lightblack);
    margin: .5em 0em .5em ;
    line-height: .1em!important;

}

#intro .separator h4 span {
    font-size: 14px;
    padding: 5px 20px 5px 20px;
    background-color: black;
    color: white;

}
