:root {
    --green:#e1e55a;
    --green-rgb:225,229,90;
    --pink: #f2b3bb;
    --pink-rgb: 242, 179, 187;
    --oldpink:#e5b8bd;
    --oldpink-rgb: 229,184,189;
    --dark-pink:#e48e99;
    --dark-pink-rgb: 228,142,153;
    --purple: #a7adee;
    --purple-rgb: 167,173,238;
    --blue: #7bccb9;
    --blue-rgb: 123,204,185;
    --orange: #ee6a5e;
    --orange-rgb: 238,106,94;
    --yellow: #f1d64b;
    --yellow-rgb: 241,214,75;
    --mblack: #262626;
    --darkgray: #5d5d5d;
    --lightblack: #404040;
    --gray: #929292;
    --lightgray: #b5b5b5;
    --mwhite: #f6f6f6;
    --mmwhite:#f8f8f8;
    --darkwhite: #d0d0d0;
    --lightblue:#d9e8ef;

}
