@import url(../abstracts/colors.css);

#footer p{
    font-family: Arial;
    font-size: 13px;
}

#footer label{
    padding-bottom: .5em;
    font-family: "Trebuchet MS";
    font-size: 18px;
    font-weight: bold;
    color:var(--gray);
}

#footer i{
    padding-right: 1em;
    color: var(--oldpink);
}


#footer a{
    color:black;

}
a:hover{
    color: var(--darkgray);
    text-decoration: none;
}
