/* center the logo */
.navbar {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3) !important;
width: 100%;
    justify-content: center;
    padding-top: 2em;
font-size: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.1);

}
img{
    width: 300px;
    height: auto;
}

/* in order to center the logo */
.navbar .navbar-toggler {
    position: absolute;
    right: 1rem;
    top: .5rem;
}

/* center all navbar items */
.navbar-nav {
    align-items: center;
}

/* since it's expanding at lg */
@media(min-width: 992px) {
    /* in order to display in 2 rows */
    .navbar-expand-lg {
        flex-flow: column nowrap;
    }

    /* same logic as the navbar-toggler above */
    .navbar-nav.upper-controls {
        position: absolute;
        right: 1rem;
        top: .5rem;
        font-size: 85%;
    }
}
